



 

<nb-card>
    <nb-card-header>
      Nouvelle agence
    </nb-card-header>
  
    <nb-card-body>
      
       <form [formGroup]="agenceForm" (ngSubmit)="onSubmit()">
          <div class="row">
           
      
         <div class="form-group col-4">
            <label for="text">Libelle cou</label>
            <input type="text" class="form-control" formControlName="libcou">
            <div *ngIf="f.libcou.errors && submited"class="alert-danger">* Libelle cou réquis!</div>
 
         </div>
         <div class="form-group col-4">
            <label for="exampleInputEmail1">Libelle Lon</label>
            <input type="text" class="form-control" formControlName="liblon">
            <div *ngIf="f.liblon.errors && submited"class="alert-danger">* Libelle Lon réquis!</div>
 
         </div>
         <div class="form-group col-4">
            <label for="exampleInputEmail1">Adresse</label>
            <input type="text" class="form-control" formControlName="adresse">
            <div *ngIf="f.adresse.errors && submited"class="alert-danger">* Adresse réquis!</div>
 
         </div>
              <div class="form-group col-6">
                  <label for="exampleInputEmail1">Code Interne</label>
                  <input type="text" class="form-control" formControlName="code_interne">
                  <div *ngIf="f.code_interne.errors && submited"class="alert-danger">* Code Interne réquis!</div>
 
               </div>
          
      
          
          
           <div class="form-group col-6">
            <label for="exampleInputEmail1">Pays</label>
            <select  class="form-control" formControlName="pays">
                <option *ngFor="let pay of pays"  value="{{pay.id}}" selected>{{pay.nom}}</option>
            </select>
            <div *ngIf="f.pays.errors && submited"class="alert-danger">* Pays réquis!</div>
 
         </div>
       
         
         
         
          
       
        
      
          
      <div class="col-8"></div>
      <button class="btn btn-success col-4" type="submit">Ajouter</button>
      </div>
      </form>
         </nb-card-body>
  </nb-card>
  